# Для Vercel PostgreSQL
DATABASE_URL=postgresql://badminton:badminton@localhost:5433/badminton

# Альтернативно можно использовать отдельные переменные
DB_HOST=your-host
DB_PORT=5432
DB_NAME=your-database
DB_USER=your-username
DB_PASSWORD=your-password

# Google Service Account (Sheets)
GOOGLE_SERVICE_ACCOUNT_FILE=credentials/gobadminminiapp-694c0da69053.json
GOOGLE_SA_EMAIL=badminton-bot@gobadminminiapp.iam.gserviceaccount.com
GOOGLE_SHARE_EMAILS=vanporigon@gmail.com,aleksej.volxonskij.88@bk.ru,badminton-bot@gobadminminiapp.iam.gserviceaccount.com
DEFAULT_OWNER_EMAIL=vanporigon@gmail.com
GOOGLE_DRIVE_FOLDER_ID=133lQqADmQeqZxhUaIZiiPtLXhNO0zIHm
GOOGLE_USERS_SHEET_NAME=Badminton Users

# Admins (Telegram chat IDs, comma-separated)
ADMIN_IDS=972717950,1119274177
